
/*Header CSS Rules For Large Screens*/

header {
    height:22rem;
}
.headertxt h2, p {

    font-family: "Biko-black";
    
}

div.logoContainer {
    padding-top:3rem;
}

div.headertxt {
    max-width:40%;
    margin:0 auto;
}
ul#primaryNav li a {
    font-family: "Biko-black";

}
div.column {
    margin:.5%;
}

/*Navigation CSS For Large Screens*/

#hamburgerBtn {
    display:none;
}

nav.clearfix {
    display:block;
    width:100%;
    background: $menuColor;

    ul#primaryNav {
        width:100%;
        max-width:1000px;
        margin:0 auto;
        padding:0;
        display:flex;
        list-style-type: none;
        
        li {
            width:15%;
            text-align: center;
            padding:.8rem;

            a {
                color: $white;
                padding:.8rem;
                font-size: 1.4rem;
                text-decoration: none;
            }
        }
        li:hover {
            background-color:lighten($color: $menuColor, $amount: 10);
        }
    }
}



/* Photo Div Gallery */

div#Photos {
    padding-top:4rem;
    max-width:910px;
    margin:0 auto;
    row-gap:2%;
}

.row { 
    justify-content: space-between;

}


div.column {
    padding:0;
    max-width:300px;
    img {
        margin:auto 0;
    }
}



/* Modal Styling */

#user_name {
    font-weight: bold;
    font-size: 300%;
}

#userLink {
    font-size: 175%;
    padding-top: 5%;
    padding-left: 5%;
}

#userText {
    font-size: 200%;
    padding-right: 10%;
    padding-top: .75%;
}
header {
    height:auto;
}
#userHeader {
    padding-bottom: 3%;
    padding-left: 5%;
    padding-top: 8%;
    border-bottom: solid 3px #e4eaf5;
    max-width:1300px;
    margin:0 auto;
}

#userImg {
    float: left;
    border-radius:50%;  
    height: 200px;
    width: 200px;
    background-position: center;
    margin-right: 8%;
    margin-bottom: 4%;
}

#Photos {
    width: 100%;
    margin: auto;
    padding-top: 1%;
}   

#userImg {
    border-radius:50%;  
    height: 200px;
    width: 200px;
    background-position: center;
}  

#Photos {
    width: 70%;
    margin: auto;
}
 /* The Close Button */
.close {
    position: absolute;
    top: 5px;
    right: 35px;
    color: #f1f1f1;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
}
/*Background container*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 3%; /* Location of the box */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(10, 10, 10, 0.5); /* Black w/ opacity */
    max-height: 100%;
    font-size: x-large;
}
#mpDiv {
    /*Foreground Container*/
    width: 80%;
    height: auto;
    min-height:10%;
    background-color: white;
    display: flex;
    margin-left: 12%;
    border-radius: 1px;
}

#mImg {
    height: 100%;
    width: auto;
    margin:2% 2%;
}

#mContain {
    margin-top: 0%;
    padding:3% 0;
    height:auto;
    width:100%;
    flex-grow: 100%;
    flex-direction: column;
}

#userDiv {
    display: flex;
    font-weight: bold;
    border-bottom: solid 2px #e4eaf5;
    padding-bottom: 1%;
}

#user_name {
    margin-left: 3%;
    margin-top: 2.5%;
    font-family: "Biko-black";

}

#icon {
    margin-left: 10%;
    max-height: 45px;
    max-width: 45px;
}

#title {
    margin-left: 10%;
    font-weight: bold;
}

#content {
    padding-right: 5%;
    height: auto;
}

#cFormat {
    margin-left: 10%;
    font-family: "Biko-std";
    margin-bottom:1.2rem;
}
div#userLink {
    padding-top:4%;
    margin-bottom:2.75%;
}

#link {
    border-top: solid 2px #e4eaf5;
    text-align: center;
    padding-top:0;
    height:auto;
}
div#link a {
    text-decoration: none;
    background:$anouLightBlue;
    border: $lightGrey solid 1px;
    padding:.3rem 6rem;
    border-radius:6px;
    color:$menuColor;
    font-family: "Biko-std";
    box-shadow: $menuColor 5px 4px 3px;
    font-size:110%;
}
#lFormat {
    display: inline-block;
    margin-top: 3%;
}
p#tFormat {
    font-family:"Biko-std";
}
div#myModal.modal {
    padding-top:20.9%;
}
div#userName {
    font-family: "Biko-black";
    font-size:170%;
    padding-bottom:0%;
}
span.close {
    margin-top:12%; 
    padding-top:.8%;   
    padding-right:5.5%;
}