
header {
    height:auto;
}

div.column {
    margin:1%;
}
/* Font Styling */

@media only screen and (min-width: 450px) {

.headertxt {
    max-width:70%;
    margin:0 auto;
}
.headertxt h2, p {
    font-family: 'Biko-black';

}


ul#primaryNav li a {
    font-family: "Biko-black";

}

}


/* The Close Button */
.close {
    position: absolute;
    top: 30px;
    right: 35px;
    color: #f1f1f1;
    font-size: 125px;
    font-weight: bold;
    cursor: pointer;
}

/*Background container*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(10, 10, 10, 0.5); /* Black w/ opacity */
    max-height: 100%;
    font-size: 30pt;
}
#mpDiv {
    /*Foreground Container*/
    margin-top: 20%;
    width: 70%;
    margin:0 auto;
    margin-top:40%;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    border-radius: 1px;
    flex-direction: column;
}

#userDiv {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    padding-left: 0%;
    padding-top: 3%;
    border-bottom: solid 2px #e4eaf5;
    
}
#userHeader{
    display:block;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-top: 15%;
    border-bottom: solid 3px #e4eaf5;
}
#user_name {
    padding-top: .75%;
    padding-left: 1.75%;
    margin-top:1.75%;
    font-family: "Biko-black";
    text-align: left;
    font-size:280%;
    margin-bottom:1%;

}
#userImg {
    display:block;
    float: left;
    border-radius:50%; 
    padding:0; 
    max-height: 200px;
    width: 200px;
    background-position: center;
    margin-right: 8%;
    margin-bottom: 4%;
}
#userImg img {
    min-height: 200px;
    min-width: 200px;
    
}

#userLink a {
    font-size:80%;
}
#userText {
    padding-top: 0%;
    padding-bottom:0%;
    padding-right: 0%;
    padding-left: 0%;
    font-size:150%;
    text-align:left;
}
#userName {
    width:100%;
    text-align:center;
}
#icon {
    max-width: 100px;
    max-height: auto;
    padding-bottom: 3%;
}

#mImg {
    padding-left: 0%;
    height: auto;
    width: auto;
    border-radius: 2;
    margin-top: -3%;
}

#title {
    margin-top: -3%;
    text-align: center;
    font-family: "Biko-black";
}

#content {
    margin-top: 4%;
    padding-left: 7%;
    padding-left: 7%;
    border-bottom: solid 2px #e4eaf5;
    padding-bottom: 4%;
}
div#userLink {
    padding-top:3%;
}

#link {
    padding-top: 4%;
    text-align: center;
    padding-bottom: 4%;
}
span.close {
    margin-top:42%;
    margin-right: 20%;
}