
header {
    height:auto;
}

div.column {
    margin:.5%;
    padding:0;
    height:auto;
}
div.row {
    height:auto;
}
div#mpDiv {

     /*Foreground Container*/
    width: 85%;
    height: auto;
    margin:0 auto;
    min-height:10%;
    background-color: white;
    display: flex;
    border-radius: 1px;

}
/* Font Styling */

@media only screen and (min-width: 450px) {

.headertxt {
    max-width:70%;
    margin:0 auto;
}
.headertxt h2, p {
    font-family: 'Biko-black';

}


ul#primaryNav li a {
    font-family: "Biko-black";

}

}


/* The Close Button */
.close {
    position: absolute;
    top: 30px;
    right: 35px;
    color: #f1f1f1;
    font-size: 125px;
    font-weight: bold;
    cursor: pointer;
}

/*Background container*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(10, 10, 10, 0.5); /* Black w/ opacity */
    max-height: 100%;
    font-size: 30pt;
}

#userDiv {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    border-bottom: solid 2px #e4eaf5;
    padding-bottom: 0%;
    padding-right:8%;
}
#userHeader{
    display:block;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-top: 15%;
    border-bottom: solid 3px #e4eaf5;
}
#user_name {
    padding-top: .75%;
    padding-left: 35%;
    margin-top:1.75%;
    font-family: "Biko-black";
    text-align: left;
    font-size:280%;
    margin-bottom:1%;

}
#userImg {
    display:block;
    float: left;
    border-radius:50%; 
    padding:0; 
    max-height: 200px;
    width: 200px;
    background-position: center;
    margin-right: 8%;
    margin-top:4%;
    margin-bottom: 4%;
}
#userImg img {
    min-height: 200px;
    min-width: 200px;
    
}

#userLink a {
    font-size:60%;
    padding:.25% 1%;
    width:auto;
}
div#userText {
    padding-top: 0%;
    padding-bottom:0%;
    padding-right: 0%;
    padding-left: 35%;
    font-size:110%;
    text-align:left;
}
div#userName {
    font-family: "Biko-black";
    font-size:80%;
    padding-bottom:0%;
    padding-top:1%;
    max-width:100%;
    padding-left:0%;
    padding-right:0%;
    text-align: center;
}
#icon {
    margin-left: 10%;
    max-height: 45px;
    width:0;
}

#mImg {
    height: 100%;
    max-width:250px;
    max-height:250px;
    width: auto;
    margin:0 auto;
}
div#mContain {
    margin-top: 0%;
    padding:3% 0;
    height:auto;
    width:40%;
    flex-grow: 100%;
}
#title {
    margin-left: 0%;
    width:100%;
    font-size: 60%;
    font-weight: bold;
}

#content {
    padding-right: 0%;
    height: auto;
    width:100%;
}
div#userLink {
    padding-top:3%;
    padding-left:35%;

}

#link {
    border-top: solid 2px #e4eaf5;
    text-align: center;
    justify-content:flex-end;
    height:auto;
    padding:0;
}
span.close {
    margin-top:-3%;
    margin-right: 5%;
    padding-left:95%;
    margin-bottom:4%;
}
div#lFormat a{
    padding: 1% 10.5%;
    margin-top:.9;
    font-size: 40%;
    margin-bottom:1%;
}
p#tFormat {
    font-family:"Biko-std";
    font-size:80%;
    text-align: center;
    padding-right:0%;
}
#lFormat {
    display: inline-block;
    margin-top: 0%;
    width:40%;
}
div#cFormat {
    margin-left: 25%;
    margin-right:25%;
    padding:0;
    font-family: "Biko-std";
    font-size: 40%;
    margin-bottom:1.2rem;
    width:50%;
}
