
//FONT FAMILY CSS

@font-face {
    font-family: "Bembo-std";
    src: url("../Fonts/bembo-std_6601-webfont.eot");
    src: url('../Fonts/BemboStd.otf')
            format('opentype');
    }

@font-face {
    font-family: "Biko-std";
    src: url("../Fonts/biko_regular-webfont.eot");
    src: url('../Fonts/Biko.otf')
            format('opentype');

    }

@font-face {
    font-family: "Biko-black";
    src: url("../Fonts/biko_black-webfont.eot");
    src: url('../Fonts/Biko-Black.otf')
            format('opentype');
    src: url('../Fonts/biko_black-webfont.ttf')
            format('truetype');
    }


/* FONT STYLING FOR SMALL SCREENS*/

@media only screen and (max-width: 450px) {
//This media query is to allow the .headertxt div to be 100% width on...
//screens under 450 pixels 
.headertxt {
    width:100%;
    max-width:100%;
}
.headertxt h2 {
    font-family: "Biko-black" !important;
}
.headertxt p {
    font-family: "Bembo-black";
}
} //End of media Query for small screens



/*     NAVIGATION CSS RULES    */



//------------------------------------------------------------------

//------------------------------------------------------------------




/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

//Hamburger button is hidden on screens larger than 65 rem or 1040px
#hamburgerBtn { 
    display: hidden; 

} /* hide the navigation button for all screen widths. We will show it below just for small screens */

@media only screen and (max-width: 999px) {

// places the navigation bar at the top of the page
nav.clearfix {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: $menuColor;
}ƒ

//Styling the Span that the hamburger button is housed in
button#hamburgerBtn.tr {
    margin-top:1rem;
    margin-bottom:1rem;
    min-width:80px;
    
}
//Styles the clickable hamburger button
#hamburgerBtn {
    outline: none !important; //Removes default outline once the button is clicked
    box-shadow: none !important; //Removes default outline once the button is clicked
    display: flex;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background: none;
    color: $white;
    border: 0 none;
    font-size: 1.3rem;
    font-family: "Bembo";
    font-weight: normal;
    padding-right:1rem;

    //NESTED STYLE: used to enlarge an entity to match any words that may also be used, like OPEN
    span {
        width:2rem;
    }
    i {
        max-height:3rem;
        font-size: 3rem; 
        font-style: normal;
        padding:1rem;
        padding-left:.1rem;
        padding-bottom: 4px;
    }
    
}


// These lines show and hide the two alternate icons for the open and close hamburger
#hamburgerBtn.open span:nth-child(1) {display: block;}
#hamburgerBtn.open span:nth-child(2) {display: none;}
#hamburgerBtn span:nth-child(1) {display: none;}
#hamburgerBtn span:nth-child(2) {display: block;}


// unordered list Navigation Bar --------------------------------------------------------
ul#primaryNav {
    height: 0; //hides the nav links 
    overflow: hidden;
    width: 100%;
    background-color: rgba(73, 73, 73, 0.829);
    margin: 0;
    padding: 0;
    z-index: 999; // places the links above the page content
    font-weight: normal;
}

// if the site has a class of active added to any list itme then it is darkened for "Wayfinding"
#primaryNav li.current-menu-item a {background-color: rgba(0,0,0,0.25);}

// style the anchors
#primaryNav li a {
    display: block; // shows the nav links
    width: 100%;
    padding: 1rem 2vw;
    font-size: 20px;
    text-align:center;
    font-family: "Biko-black";
    text-shadow: -1px -1px 0 rgba(0,0,0,.15);
    color: $white;
    text-decoration: none;
    border-top: 1px solid rgba(0,0,0,.2);
}

// when hovering over any menu item or sub menu item darken by 5%
#primaryNav li a:hover {
    background-color: rgba(0,0,0,.5);
}

// Toggle the navigation bar to expand down when the javascript assigns the "open" class
#primaryNav.open {
    padding-top:3rem;
    height: 100vh;
}


//hide the sub menu unordered list by default
#primaryNav li ul {
    display: none;
    background: rgba(73, 73, 73, 0.877);
    color:white;
    padding: 0;
    margin: 0;
}

// styles the sub menu anchors just a bit
ul#primaryNav li ul a {
    padding-left: 20px;
}

//display the sub menu unordered list on touch or hover
#primaryNav li:hover ul {display: block;}

// style the sub menu items
#primaryNav ul.nestedul li {
    padding:1rem;
}


} /* End oF Media Query For Mobile Menu */







/* Styling for the Anou Logo in the HEADER */

header {
    height:auto;
    width:100%;
    margin:0 auto;
    background: $hoverColor;
}
.headertxt {
    padding-top:1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        color:$menuColor;
        width:90%;
        margin: 0 5%;
        text-align: center;
        margin-bottom:0;
        font-family: 'Bembo-black';
    }
    p {
        width:100%;
        padding:0 5%;
        text-align: center;
        font-family: 'Bembo-black';

    }
}
div.logoContainer {
    width:130px;
    margin:0 auto;
    padding-top:6rem;
}
img.logo {
    background-color: none;
    border:2px solid $lightGrey;    
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100%;
    margin:0 auto;
    max-width: 130px;
    max-height: 130px; 
    box-shadow: $menuColor 1px 2px 5px;
 
}





/* Styling for the Dynamic Photo Div */

.row {
    display: flex;
}
.column {
    flex: 33.33%;
    padding: 1%;
}

#Photos {
    width: 98%;
    margin: 1% auto;
}
.image {
    cursor: pointer;
    max-width: 300px;
    max-height: 300px;
    height: auto;
}
.image:hover, .close:hover {
    opacity: 0.7;
}